@use 'sass:map';

@use '@/styles/variables.module.scss';

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-5px);
	}

	50% {
		transform: translateX(5px);
	}

	75% {
		transform: translateX(-5px);
	}

	100% {
		transform: translateX(0);
	}
}

.wrapper {
	position: absolute;
	inset-inline-end: 0;
	top: 0;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 4rem;
	background-color: transparent;
	opacity: 1;

	&--first {
		background-color: map.get(variables.$colors, modal-backdrop);
	}

	&--hidden {
		opacity: 0;
	}

	.container {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 50%;
		max-width: 100%;
		height: fit-content;
		max-height: 100%;
		margin: auto;
		background-color: map.get(variables.$colors, whites-white);
		border-radius: 16px;
		box-shadow: 0 3px 3px 4px #0000001f;
		transition: all 0.5s;

		&--fullscreen {
			width: 100%;
			height: 100%;
		}

		&--allowScroll {
			overflow-y: auto;
		}

		&--isBackdropClicked {
			animation: shake 0.3s;
		}

		&__body {
			display: flex;
			flex-direction: column;
			flex-wrap: inherit;
			height: 100%;
			padding: 4rem;
			overflow: auto;
			border-radius: 16px;

			&--center {
				align-items: center;
				justify-content: center;
				padding: 5rem 7rem;
				user-select: none;
			}

			&--allowScroll {
				overflow-y: auto;
			}

			&--frameless {
				padding: 0;
			}

			&--hasTitle {
				padding: 2rem;
			}

			&--isConfirm {
				flex-wrap: wrap;
			}
		}

		&__image {
			width: 6.4rem;
			height: 100%;
			margin-bottom: 1.6rem;
		}

		&__title {
			width: 100%;
			margin-bottom: 1.6rem;
			font-size: 2.4rem;
			font-weight: 700;
			text-align: center;
		}
	}

	.backdrop {
		position: absolute;
		z-index: 3;
		width: 100%;
		height: 100%;
		background-color: map.get(variables.$colors, modal-backdrop);
		border-radius: 16px;
		opacity: 0.75;
	}

	.back {
		position: absolute;
		inset-inline-start: 14px;
		top: 2.3rem;
		z-index: 10;
		display: flex;
		width: 100%;
		font-size: 1.6rem;
		font-weight: 700;
		cursor: pointer;
	}

	.close {
		position: absolute;
		inset-inline-end: 14px;
		top: 2.3rem;
		z-index: 10;
		display: flex;
		font-size: 1.6rem;
		font-weight: 700;
		cursor: pointer;

		&__icon {
			width: 2rem;
			height: 2rem;
		}
	}

	.actions {
		display: flex;
		gap: 1.2rem;
		justify-content: center;
		padding: 1.6rem 2rem 5rem;
		margin-top: auto;

		&__confirm {
			width: 100%;
			height: 4rem;
			font-size: 1.6rem;
			font-weight: 700;
			color: map.get(variables.$colors, whites-white);
			cursor: pointer;
			background-color: map.get(variables.$colors, greens-slimy-green);
			border-radius: 8px;

			&:hover {
				color: map.get(variables.$colors, greens-slimy-green);
				background-color: map.get(variables.$colors, whites-white);
			}
		}

		&__close {
			width: 100%;
			height: 4rem;
			font-size: 1.6rem;
			font-weight: 700;
			color: map.get(variables.$colors, blacks-chinese-black);
			cursor: pointer;
			background-color: map.get(variables.$colors, whites-white);
			border-radius: 8px;
		}

		&__cancel {
			width: 100%;
			height: 4rem;
			font-size: 1.6rem;
			font-weight: 700;
			color: map.get(variables.$colors, yellows-deep-lemon);
			cursor: pointer;
			background-color: map.get(variables.$colors, yellows-papaya-whip);
			border-radius: 8px;

			&:hover {
				color: map.get(variables.$colors, yellows-papaya-whip);
				background-color: map.get(variables.$colors, yellows-deep-lemon);
			}
		}
	}
}

@media (max-width: map.get(variables.$sizes, mobile-screen-width)) {
	.wrapper {
		.container {
			width: 100%;
		}
	}
}
